<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nx/thymeleaf/layout"
											layout:decorate="~{layouts/defaultTemplate}">
				
	<head>
		<title>User Details</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
			
		<script>
			function updateFunction() {
				var x = document.getElementById('detailContainer');
				var y = document.getElementById('updateContainer');
				if (x.style.display === "block") {
					x.style.display = "none";
					y.style.display = "block";
				} else {
					x.style.display = "block";
					y.style.display = "none";
				}
			}
		</script>
			
	</head>
	<body>
		<div th:replace="~{fragments/header.html :: header}"></div>
		
		<!-- This is where userDetails will be used to pull information to be viewed -->
		<div id="outerContainer" style="border: 2px solid grey; width: 50%; margin: auto; border-radius: 25px; background-color: aliceblue;">
			<div id="detailContainer" style="margin: auto; width: 50%; margin-top: 15px; background-color: white;">
				<table class="table table-striped table-bordered">
					<tr>
						<td>First Name:</td>
						<td th:text="${userDetails.firstName}"></td>
					</tr>
					<tr>
						<td>Last Name:</td>
						<td th:text="${userDetails.lastName}"></td>
					</tr>
					<tr>
						<td>Username:</td>
						<td th:text="${userDetails.username}"></td>
					</tr>
					<tr>
						<td>Password:</td>
						<td th:text="${userDetails.password}"></td>
					</tr>
				</table>
			</div>
			<div id="updateContainer" style="margin: auto; width: 50%; display: none;">
				<form action="#" th:action="@{doUpdate}" th:object="${loginModel}" method="post">
					<table>
						<tr>
							<td>First Name:</td>
							<td><input type="text" th:placeholder="${userDetails.firstName}" th:field="*{firstName}"></td>
						</tr>
						<tr>
							<td>Last Name:</td>
							<td><input type="text" th:placeholder="${userDetails.lastName}" th:field="*{lastName}"></td>
						</tr>
						<tr>
							<td>Username:</td>
							<td th:text="${userDetails.username}"></td>
						</tr>
						<tr>
							<td>Password:</td>
							<td><input type="text" th:placeholder="${userDetails.password}" th:field="*{password}"></td>
						</tr>
						<tr>
							<td colspan="3" style="text-align: center; padding-top: 10px;"><input type="submit" value="Update">
							</td>
						</tr>
					</table>
				</form>
				<br />
			</div>
		</div>
		<br />
		<div style="margin: auto">
			<button style="margin-left: 45%;" onclick="updateFunction()">Update Details</button>
		</div>
		
		<div th:replace="~{fragments/footer.html :: footer}"></div>
	</body>	
</html>